/* =[RES]= CSS Reset - derivative of YUI Reset CSS - http://developer.yahoo.com/yui/reset/#code ===== */

html, body, div, pre, form, fieldset, input, h1, h2, h3, h4, h5, h6, p, textarea, ul, ol, li, dl, dt, dd, blockquote, th, td,
/* HTML 5 elements */

abbr, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code {
    font-style: normal;
    font-weight: normal;
}

ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

:root {
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.33rem;
    --size-600: 1.77rem;
    --size-700: 2.36rem;
    --size-800: 3.15rem;
    --size-900: 4.2rem;
    --primary-color: rgb(39, 39, 39);
    --secondary-color: white;
    --light-grey: rgb(241, 241, 241);
    --accent-color: rgb(202, 108, 0);
    --header-font: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    --default-font: Nunito, sans-serif;
    --border-radius-large: 25px;
    --border-radius-small: 10px;
    --box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.103);
    --side-padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

h1, h2 {
    font-weight: 900;
}

h1 {
    font-size: var(--size-700);
    line-height: var(--size-700);
}

h2 {
    font-size: var(--size-600);
    line-height: var(--size-600);
}

h3 {
    font-size: var(--size-600);
    line-height: var(--size-600);
}

h4 {
    font-size: var(--size-500);
    font-weight: bold;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}


h1, h2, h3, h4 {
    font-family: var(--header-font);
}

p, li {
    max-width: 60ch;
    margin-left: 0;
}

h1 {
    max-width: 15ch;
}

h2, h3 {
    max-width: 25ch;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: var(--secondary-color); */
    overflow-x: hidden;
}

main {
    flex-grow: 2;
    align-items: stretch;
}

body.no-scroll {
    overflow-y: hidden;
}

p, i {
    font-size: var(--size-400);
}

@media (min-width: 45em) {
    h1 {
        font-size: var(--size-900);
        line-height: var(--size-900);
    }

    h2 {
        font-size: var(--size-700);
        line-height: var(--size-700);
    }

    figcaption {
        font-size: var(--size-400);
        line-height: var(--size-400);
    }

    blockquote p {
        /* font-size: var(--size-500); */
        max-width: 40ch;
    }
}