/* Components */

.c-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    z-index: 20;
}

.c-banner__logo {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    margin: 10px 0;
}

.c-banner__logo-img {
    height: 90%;
}

.c-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    z-index: 10;
    opacity: 0;
}

.c-navigation.show {
    opacity: 1;
}

.c-navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
}

.c-navbar--centered {
    justify-content: center;
}

.c-navbar__element {
    position: relative;
    height: 100%;
    display: block;
    display: flex;
    align-items: center;
}

.c-navbar--vertical {
    flex-direction: column;
    border-left: 2px solid rgb(29, 29, 29);
    margin-right: 40px;
}

.c-navbar__link--hover-underline:hover {
    text-decoration: underline;
}

.c-navbar__link--hover-invert:hover {
    color: var(--secondary-color);
    background: var(--primary-color);
}

.c-hero--dark .c-navbar__link--hover-invert:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.c-navbar__link--vertical {
    padding: 0.5rem 1rem;
    background: transparent;
}

.c-icon--navbar {
    margin: -30px 0 -30px 10px;
}

.c-icon {
    transform: rotate(0);
    transition: 150ms;
}

.c-icon.spin {
    transform: rotate(180deg);
}

.c-navbar__sub-menu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background: white;
    right: 0px;
}

:is(.c-navbar__sub-menu, .c-hamburger__menu).show {
    opacity: 1;
    pointer-events: all;
}

.c-navbar__sub-menu {
    right: 0px;
    min-width: 100%;
}

.c-hamburger__element {
    margin-bottom: 5px;
    min-height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.c-hamburger__element:last-child {
    margin-bottom: 0;
}

:is(.c-navbar__element, .c-hamburger__element).hide {
    display: none;
}

.c-navbar__sub-link, .c-hamburger__link, .c-hamburger__element-button, .c-navbar__button, .c-navbar__link, .c-hamburger__sub-link {
    height: 100%;
    display: flex;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    text-align: right;
    background: inherit;
    align-items: center;
    padding: 0 1rem;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
}

.c-navbar__sub-link--fixed-size, .c-hamburger__link--fixed-size, .c-hamburger__element-button--fixed-size, .c-navbar__button--fixed-size, .c-navbar__link--fixed-size, .c-hamburger__sub-link--fixed-size {
    padding: 0.5rem 1rem;
    height: auto;
}

.c-navbar__sub-link--hover-invert:hover, .c-hamburger__link--hover-invert:hover, .c-hamburger__element-button--hover-invert:hover, .c-navbar__button--hover-invert:hover, .c-navbar__link--hover-invert:hover, .c-hamburger__sub-link--hover-invert:hover {
    color: var(--secondary-color);
    background: var(--primary-color);
}

.c-navbar__button, .c-hamburger__element-button {
    border: none;
    font-family: var(--default-font);
    font-size: var(--size-400);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.c-navbar__sub-link--hover-invert:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.c-hamburger {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.c-hamburger.hide {
    display: none;
}

.c-hamburger__menu[data-type="dropdown"] {
    top: 100%;
    min-width: min(100vw, 250px);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.192);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background: white;
    right: 0px;
    display: none;
}

.c-hamburger__menu[data-type="slideover"] {
    min-width: min(100vw, 250px);
    position: fixed;
    opacity: 1;
    background: white;
    top: 0px;
    right: 0;
    transform: translateX(100%);
    transition: 150ms;
    z-index: 20;
    height: 100vh;
}

.c-hamburger__menu[data-type="dropdown"].show {
    opacity: 1;
    pointer-events: all;
}

.c-hamburger__menu[data-type="slideover"].show {
    transform: translateX(0);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.192);
    display: block;
}

.c-navbar__sub-link {
    padding: 1rem;
}

.c-hamburger__link, .c-hamburger__element-button, .c-hamburger__sub-link {
    padding: 1rem;
    /* background-color: rgb(228, 228, 228); */
    /* color: white; */
    /* display: block; */
}

.c-hamburger__link--hover-invert, .c-hamburger__element-button--hover-invert, .c-hamburger__sub-link--hover-invert {
    /* background-color: var(--secondary-color); */
    color: var(--primary-color);
}

.c-hamburger__element-button {
    width: 100%;
    justify-content: space-between;
}

.c-hamburger__button {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 1rem 0;
}

.c-hamburger__line {
    width: 15px;
    height: 2px;
    background: black;
}

.c-hamburger__sub-menu-wrapper {
    overflow: hidden;
}

.c-hamburger__sub-menu {
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    transition: 150ms;
}

.c-hamburger__sub-link {
    background-color: white;
    color: var(--primary-color);
    z-index: 25;
}

.c-hamburger__close-wrapper {
    height: 61px;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.c-hamburger__close-button {
    height: 15px;
    width: auto;
    cursor: pointer;
}

.c-search {
    display: flex;
    gap: 5px;
    padding-left: 1rem;
}

.c-search__input, .c-search__submit {
    padding: 0.2rem;
}

.c-hamburger__search .c-search {
    padding: 0;
}

.c-hero {
    min-height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.137);
    position: relative;
}

.c-hero--light {
    color: var(--primary-color);
    background-color: white;
}

.c-hero--dark {
    color: white;
    background-color: var(--primary-color);
}

.c-hero--light-grey {
    color: black;
    background-color: var(--light-grey);
}

.c-hero--small {
    min-height: 200px;
}

.c-hero--integrated-nav {
    /* display: grid;
    grid-template-rows: 1fr auto 1fr; */
    display: grid;
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    min-height: 350px;
    color: white;
    width: 100%;
}

.c-hero--integrated-nav .c-hero__title--small {
    max-width: 30ch;
}

.c-hero--integrated-nav .c-hamburger__button div {
    background-color: white;
}

.c-hero__title-wrapper {
    background: rgba(0, 0, 0, 0.356);
    color: inherit;
    padding: 1rem;
    text-align: center;
    margin: 2rem var(--side-padding);
    display: flex;
    align-items: center;
    z-index: 10;
    justify-content: center;
}

.c-hero__title {
    font-size: var(--size-900);
}

.c-hero__bg-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.192);
}

.c-hero__title-wrapper--no-bg {
    background: none;
}

.c-hero__title-logo {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.c-hero__title--small {
    font-size: var(--size-700);
    max-width: 20ch;
}

.c-navigation-temp__button {
    display: block;
}

.c-navigation-temp__button.hide {
    display: none;
}

.c-navigation-temp__list {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.c-navigation-temp__list.mobile {
    position: absolute;
    display: flex;
    width: auto;
    justify-content: center;
    opacity: 1;
    transition: 150ms;
    right: 0px;
    text-align: right;
}

.c-navigation-temp__list.mobile.hide {
    display: none;
    opacity: 0;
}

.c-navigation-temp__link {
    color: white;
    padding: 0.4rem 0.8rem;
    display: block;
    text-decoration: none;
}

.c-navigation-temp__link:hover {
    background-color: white;
    color: var(--primary-color);
}

@media screen and (max-width: 798px) {
    .c-hero__title {
        font-size: var(--size-800);
        line-height: var(--size-800);
    }
    .c-hero__title--small {
        font-size: var(--size-700);
    }
    .c-navigation-temp__list {
        gap: 0;
        align-self: flex-end;
    }
    .c-navigation-temp__list {
        flex-direction: column;
    }
    .c-hero--integrated-nav {
        display: flex;
        flex-direction: column;
        min-height: 180px;
        padding-bottom: 2rem;
    }
    .c-button.c-navigation-temp__button {
        align-self: flex-end;
        margin-top: 0.3rem;
    }
    .c-hero--integrated-nav .c-hero__title--small {}
    .c-hero__title-wrapper {
        flex-direction: column;
        margin: 0;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 522px) {
    .c-hero__title {
        font-size: var(--size-700);
    }
    .c-hero__title--small {
        font-size: var(--size-600);
    }
    .c-hero--integrated-nav {
        display: flex;
        flex-direction: column;
    }
    .c-hero--integrated-nav .c-hero__title--small {}
}

@media screen and (max-width: 350px) {
    .c-hero__title {
        font-size: var(--size-600);
    }
    .c-hero__title--small {
        font-size: var(--size-500);
    }
}

.c-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.c-section--right {
    align-items: flex-end;
    text-align: right;
}

.c-section--center {
    align-items: center;
    text-align: center;
}

.c-section--horizontal-center {
    align-items: center;
}

.c-section--vertical-center {
    justify-content: center;
    height: 100%;
}

.c-section--padding-left {
    padding-left: 2rem;
}

.c-section__content {
    display: flex;
    flex-direction: column;
}

.c-section__title {}

.c-section__content--right {
    align-items: flex-end;
    text-align: right;
}

.c-section__content--center {
    align-items: center;
    text-align: center;
}

blockquote {
    padding-left: var(--size-600);
    border-left: 4px solid;
    font-style: italic;
}

.c-footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem var(--side-padding);
}

.c-ordered-list {
    padding-inline-start: 30px;
}

.c-unordered-list {
    padding-inline-start: 30px;
    list-style-type: disc;
}

.c-page-link {
    text-decoration: none;
    color: inherit;
}

.c-code {
    background-color: rgb(247, 247, 247);
    padding: 1rem;
    display: block;
}

.c-code--inline {
    display: inline;
    padding: 0.2rem;
}

.c-img {
    max-width: min(55rem, 100%);
}

.c-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.c-form-section__title {
    margin-bottom: 10px;
}

.c-form-section__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.c-form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c-form-input__input, .c-form-input__textarea, .c-form-input__select {
    padding: 0.5rem;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--primary-color);
    font-size: var(--size-400);
    background-color: #f9f9f9;
}

.c-form-input__textarea {
    resize: vertical;
    min-height: 100px;
}

.c-checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.c-cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

@media screen and (min-width: 768px) {
    .c-cards {
        flex-direction: row;
        align-items: flex-start;
    }
}

.c-card {
    width: 100%;
    box-shadow: var(--box-shadow);
    transition: 700ms ease;
    max-width: 300px;
}

.c-card--rounded {
    border-radius: var(--border-radius-large);
}

.c-card--rounded .c-card__img {
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
}

.c-card__img {
    width: 100%;
    height: auto;
}

.c-card__content {
    padding: 0.8rem;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.c-card__title {
    font-size: var(--size-500);
    font-weight: bold;
}

.c-card__title, .c-card__text {
    margin-bottom: 0.6rem;
}

.c-card__button {
    margin-top: auto;
}

.c-button {
    min-width: 100px;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-small);
    cursor: pointer;
    align-self: flex-start;
    text-decoration: none;
    text-align: center;
    display: block;
}

.c-button--centered {
    align-self: center;
}

.c-button--large {
    min-width: 180px;
    padding: 0.8rem;
    font-size: var(--size-400);
    margin-top: 10px;
}

.c-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.c-carousel {
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.c-carousel__buttons {
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c-carousel__button {
    background-color: var(--secondary-color);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.c-carousel__title {
    color: white;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 1rem;
}

.c-carousel__horse {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: 600ms ease;
    z-index: 0;
}

.c-carousel__horse.leave {
    transform: translateX(-100%);
    display: flex;
}

.c-carousel__horse.current {
    transform: translateX(0);
    display: flex;
}

.c-carousel__horse.next {
    transform: translateX(100%);
    display: flex;
}

.c-carousel__dots {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {
    .c-carousel {
        height: 600px;
    }
    .c-carousel__horse {
        transition: 1000ms ease;
    }
}

.c-carousel__dot {
    height: 5px;
    width: 5px;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow: var(--box-shadow);
    background: transparent;
}

.c-carousel__dot.active {
    background: white;
}

.c-section-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    gap: 20px;
}

.c-section-card {
    position: relative;
}

.c-section-card__background {
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.c-section-card__title {
    position: absolute;
    bottom: 20px;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    padding-left: 2rem;
    font-size: var(--size-600);
    transition: 400ms transform;
    left: -1rem;
    transform: translateX(0);
}

.c-section-card__description {
    text-decoration: none;
    color: var(--primary-color);
    padding: 20px;
    z-index: 10;
    font-size: var(--size-500);
}

.c-section-card__overlay {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    /* background-color: var(--secondary-color); */
    transition: 400ms ease;
    backdrop-filter: blur(0px);
}

.c-section-card__description-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.274);
    pointer-events: none;
    transition: 400ms ease-out;
    opacity: 0;
}

.c-section-card__background:hover .c-section-card__description-wrapper {
    opacity: 1;
}

.c-section-card__background:hover .c-section-card__overlay {
    opacity: 1;
    backdrop-filter: blur(7px);
}

.c-section-card__background:hover .c-section-card__title {
    transform: translateX(1rem);
}

.c-posts {
    padding: 0rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.c-posts__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
}

.c-post-small__title {
    margin-bottom: 1.2rem
}

.c-post-small__title-link {
    color: var(--primary-color);
}

.c-post-details {
    display: flex;
    gap: 5px;
    align-items: center;
}

.c-post-details__profile-image {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 5px;
}

.c-post-details__author {
    font-style: italic;
    opacity: 0.8;
}

/* .c-post-details.list > :is(p, time)  {
    font-size: 1.15rem;
} */

.c-post-tags {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.c-post-tags__link, .c-post-tags__button {
    background: rgb(85, 107, 168);
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    display: block;
}

.c-post-tags__button {
    background: var(--secondary-color);
    color: rgb(85, 107, 168);
    border: 1px solid rgb(85, 107, 168);
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    display: block;
    cursor: pointer;
    height: 100%;
}

.c-post-tags__button:hover {
    background: rgb(85, 107, 168);
    color: var(--secondary-color);
}

.c-post-tags__tag.hide, .c-post-tags__button.hide {
    display: none;
}

.c-post-tags__link {
    color: var(--secondary-color);
    text-decoration: none;
}

.c-post :is(p, h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 15px;
}

.c-post ul {
    list-style-type: disc;
}

.c-post ul {
    padding-left: 20px;
}

.c-post blockquote {
    font-size: var(--size-400);
}

.c-threes-table__table {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-auto-rows: auto;

}

.c-threes-table__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
}

.c-threes-table__row:first-child {
    margin-bottom: 0.4rem;
}

.c-threes-table__description {
    font-size: var(-);
}

.c-threes-table__company {
    font-weight: bold;
    border-right: 2px solid;
    border-color: inherit;
    padding-right: 1rem;
}

.c-threes-table__company, .c-threes-table__cell {
    /* margin-bottom: 4rem; */
}

.c-threes-table__company-name {
    font-weight: bold;
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .c-threes-table__company-name {
        padding-top: 60px;
        margin-top: -60px;
    }
}

.c-threes-table__company-name-link:focus {
    outline: none;
    text-decoration: underline;
    color: black;
}

.c-threes-table__company-name-link {
    text-decoration: none;
}

.c-threes-table__company-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.c-threes-table__cell-mobile-title {
    display: none;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.c-threes-table__company-details {
    gap: 0.4rem;
    opacity: 0.8;
    display: grid;
    grid-template-columns: min-content auto;
    grid-auto-rows: auto;
    /* align-items: center; */
}

.c-threes-table__detail {
    font-size: var(--size-400);
    font-weight: normal;
}

.c-threes-table__heading {
    margin-bottom: 0.4rem;
    font-weight: bold;
    min-width: 250px;
}

.c-threes-table__address {
    display: flex;
    gap: 0.2rem;
}

.c-threes-table__logo {
    width: 230px;
    height: 130px;
    margin-top: 10px;
    background-color: white;
    object-fit: contain;
}

.c-threes-table__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.c-threes-table__search-form {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.c-threes-table__search-box {
    padding: 0.2rem 0.3rem;
}

#companyList {
    min-height: 70vh;
}

@media screen and (max-width: 1200px) {
    /* .c-threes-table {
        text-align: center;
    } */
    .c-threes-table__row {
        grid-template-columns: 100%;
        grid-template-rows: auto repeat(3, 1fr);
        gap: 1rem;
        margin-bottom: 4rem;
    }
    .c-threes-table__table {
        display: flex;
        flex-direction: column;
    }
    .c-threes-table__company {
        border: none;
        font-size: var(--size-600);
        margin-bottom: 0;
    }
    .c-threes-table__cell-mobile-title {
        display: block;
    }
    .c-threes-table__heading {
        display: none;
    }
    .c-threes-table__body {
        gap: 3rem;
    }

    .c-threes-table__row:first-child {
        display: none;
    }

    .c-threes-table__cell {
        /* margin-bottom: 2rem; */
    }

    .c-threes-table__banner {
        justify-content: center;
    }

    .c-threes-table__search-form {
        background-color: var(--light-grey);
        width: 100%;
        padding: 1.3rem;
        justify-content: center;
        margin: 1rem 0;
    }

    .c-threes-table__company-info {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 0.5rem;
    }

    .c-threes-table__logo {
        margin-top: 0;
        height: 100%;
        max-height: 100px;
        max-width: 200px;
        object-fit: contain;
        width: auto;
    }
}

/* @media (min-width: 45em) {
    :is(p, li, button):not(
    .c-navbar__element, 
    .c-navbar__sub-element, 
    .c-hamburger__element, 
    .c-hamburger__sub-element, 
    .c-search__submit, 
    .c-search__input, 
    .c-post-tags li,
    .c-post-tags button,
    .c-threes-table__detail,
    .c-threes-table__description) {
        font-size: var(--size-500);
    }
} */

.c-search__title {
    font-size: var(-600);
    font-weight: bold;
    margin-bottom: 1rem;
}

.c-search__result {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.c-search__result-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.c-home-top__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 0;
}

.c-home-top__logos {
    display: flex;
    justify-content: space-between;
}

.c-home-top__intro {
    grid-column: 1 / span 3;
    background-size: cover;
}

.c-home-top__intro-mask {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.911), rgba(255, 255, 255, 0.432));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.c-home-top__threes-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column-start: 4;
    max-width: 280px;
    justify-self: center;
}

.c-home-top__threes-logo {
    max-width: 100%;
    margin: 0 auto;
}

.c-home-top__threes-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.c-home-top__logo-wrapper:first-child {
    border-left: 1px solid rgb(175, 175, 175);
}

.c-home-top__logo-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo" "logo" "button";
    border-right: 1px solid rgb(175, 175, 175);
    align-items: center;
}

.c-home-top__logo-link {
    grid-area: logo;
    display: flex;
    align-items: center;
    width: min(230px, 100%);
    margin: 0 auto;
}

.c-home-top__logo {
    max-width: 230px;
    width: min(230px, 100%);
    padding: 1rem 0;
}

.c-home-top__button {
    grid-area: button;
    width: min(230px, 100%);
    margin: 0 auto;
}

@media screen and (max-width: 1260px) {
    .c-home-top {
        padding-top: 0;
    }
    .c-home-top__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr auto auto;
        gap: 2rem;
    }
    .c-home-top__intro {
        grid-column-start: span 2;
        /* grid-column: auto; */
    }
    .c-home-top__threes-description {
        grid-column: span 2;
        padding-top: 1rem;
        max-width: none;
        /* grid-column: auto; */
    }
    .c-home-top__logo-wrapper:first-child {
        border: none;
    }
    .c-home-top__logo-wrapper {
        border: none;
    }
    .c-home-top__intro-mask {
        align-items: center;
    }
}

@media screen and (max-width: 522px) {
    .c-home-top__intro-mask {
        padding: 1rem;
        /* grid-column: auto; */
    }
    .c-home-top__logo-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .c-home-top__intro {
        background-position: 30%;
    }
    .c-home-top__logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .c-home-top__button {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .c-home-top__grid {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-auto-rows: auto;
    }
    .c-home-top__intro {
        grid-column: auto;
    }
    .c-home-top__threes-description {
        grid-column: auto;
    }
}

.cls-1 {
    fill: inherit;
}

.c-feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}

.c-feature__image {
    margin: -30px 0;
}

@media screen and (max-width: 768px) {
    .c-feature {
        gap: 4rem;
    }
}

@media screen and (max-width: 576px) {
    .c-feature {
        gap: 2rem;
        grid-template-columns: 1fr;
    }
}

.c-text-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(420px, 100%), 1fr));
    width: 100%;
    gap: 2rem 6rem;
    text-align: left;
    margin-top: 3rem;
}

.c-text-columns__item {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.c-text-columns__text {
    max-width: none;
}

.c-article__title {
    margin-bottom: 1rem;
}

.c-contact-details {
    /* display: flex;
    flex-direction: column;
    gap: 0.5rem; */
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0.5rem 0.3rem;
}

.c-contact-details__icon {
    opacity: 0.7;
    line-height: var(--size-400);
}

.c-contact-details__detail {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.c-contact-details__link {
    color: inherit;
}

.c-image {
    width: 100%;
}

.c-companies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 220px), 1fr));
    gap: 2rem;
    margin-top: 2.5rem;
    position: relative;
}

.c-company {
    padding: 1rem;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.075);
    width: 100%;
    overflow-x: auto;
}

.c-company__logo-wrapper {
    height: 130px;
    padding: 0.4rem;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.c-company__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* max-height: 130px;
    max-width: 200px; */
}

/* Animations */

.c-animated {
    transition: 500ms ease;
}

.c-animated--fade-up {
    opacity: 0;
    transform: translateY(50px);
}

.c-animated--fade-up.show {
    opacity: 1;
    transform: translateY(0px);
}

.c-animated--fade-down {
    opacity: 0;
    transform: translateY(-50px);
}

.c-animated--fade-left {
    opacity: 0;
    transform: translateX(-50px);
}

.c-animated--fade-left.show {
    opacity: 1;
    transform: translateX(0px);
}

.c-animated--fade-right {
    opacity: 0;
    transform: translateX(50px);
}

.c-animated--fade-right.show {
    opacity: 1;
    transform: translateX(0px);
}

.c-animated--fade-down.show {
    opacity: 1;
    transform: translateY(0px);
}

.c-animated--fade {
    opacity: 0;
}

.c-animated--fade.show {
    opacity: 1;
}